:root {
  --font-apple: -apple-system, BlinkMacSystemFont, system-ui, sans-serif;
  --system-background: oklch(96.8% 0.007 247.896);
  --primary-background: #fff;
  --secondary-background: #fff;
  --primary-text: #000;
  --secondary-text: oklch(70.4% 0.04 256.788);
  --text-black: #000;
}

@media (prefers-color-scheme: dark) {
  :root {
    --system-background: #000;
    --primary-background: oklch(27.9% 0.041 260.031);
    --secondary-background: oklch(44.6% 0.043 257.281);
    --primary-text: #fff;
    --secondary-text: oklch(44.6% 0.043 257.281);
  }
}

html {
  font-family: var(--font-apple);
  background-color: var(--system-background);
  color: var(--primary-text);
}

body {
  margin: 0 16px;
}

.flex {
  display: flex;
}

.flex-grow-1 {
  flex-grow: 1;
}

.flext-row {
  flex-direction: row;
}

.flex-between {
  justify-content: space-between;
}

.align-items-center {
  align-items: center;
}

.text-decoration-none {
  text-decoration: none;
}

.ml-10 {
  margin-left: 10px;
}

.mr-10 {
  margin-right: 10px;
}

.surface {
  background-color: var(--primary-background);
  color: var(--primary-text);
  border-radius: 25px;
  padding: 16px;
}

.icon,
.list-bullet {
  height: 22px;
  width: 22px;
}

.icon {
  background-color: orange;
  border-radius: 50%;
  padding: 5px;
}

.list-bullet {
  background-color: var(--text-black);
  -webkit-mask: url(/icons/list-bullet.svg) no-repeat center;
  mask: url(/icons/list-bullet.svg) no-repeat center;
}

.chevron-right {
  height: 16px;
  width: 16px;
  background-color: var(--primary-text);
  -webkit-mask: url(/icons/chevron-right.svg) no-repeat center;
  mask: url(/icons/chevron-right.svg) no-repeat center;
}
